#div1{
    width: 500px;
    height: 550px;
    margin-left: 420px;
    margin-top: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgb(231, 231, 231);
}
#div11{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    text-align: center;
    color: rgba(0, 183, 255, 0.678);
    line-height: 50px;
}
#div12{
    width: 200px;
    height: 200px;
    margin-left: 150px;
    margin-top: 100px;
    border-top: 3px solid rgba(0, 183, 255, 0.678);
}
#navf1 a{
    color: black;
}
#navf1  a:hover{
    color: rgb(0, 79, 110);
}
#formd1 input{
    font-size: 16px;
    width: 196px;
    height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid rgb(126, 199, 233);
}
#divf1{
    width:100px;
    height: 30px;
    margin-left: 50px;
    margin-top: 10px; 
}
#divf1 input{
    width:100px;
    height:35px;
}
#div1 nav{
    margin-top: 50px;
    margin-left: 40px;
}
a:link{
    text-decoration: none;
}
