body {
    font-family: Roboto Slab;
}
#soan_tin_moi {
    margin-top: 50px;
    width: auto;
    height: auto;
}
#soan_tin_moi #loi_nhan {
    width: auto;
}
#soan_tin_moi #loi_nhan p{
    text-align: center;
    font-size: 30px;
}
#soan_tin_moi form {
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 4px;
}
#soan_tin_moi form p {
    font-family: Roboto Slab;
    font-size: 18px;
    padding-left: 10px;
    display: inline;
}
#soan_tin_moi form #chuyen_muc {
    width: auto;
    height: 30px;
    font-family: Roboto Slab;
    font-size: 15px;
    border-radius: 4px;
}
#soan_tin_moi form #chuyen_muc_moi {
    margin-top: 10px;
    height: 30px;
    font-family: Roboto Slab;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 4px;
    border: 1px solid rgb(190, 190, 190);
}
#soan_tin_moi form #tieu_de{
    display: block;
    margin-top: 30px;
    width: 500px;
    height: 70px;
    font-size: 20px;
    font-family: Roboto Slab;
    padding-left: 10px;
    border-radius: 4px;
}
#soan_tin_moi form #tom_tat{
    display: block;
    margin-top: 10px;
    width: 550px;
    height: 150px;
    font-size: 20px;
    font-family: Roboto Slab;
    padding-left: 10px;
    border-radius: 4px;
}
#soan_tin_moi form #noi_dung {
    display: block;
    margin-top: 10px;
    height: 250px;
    width: 700px;
    font-size: 20px;
    font-family: Roboto Slab;
    padding-left: 10px;
    border-radius: 4px;
}
#soan_tin_moi form span {
    display: block;
    margin-bottom: 30px;
    height: 100px;
}
#soan_tin_moi form #submit_dang_bai {
    display: block;
    margin: 20px auto;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-family: Roboto Slab;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 3px 5px 10px rgb(190, 190, 190);
    border-radius: 4px;
    background-color: rgb(255, 52, 45);
    color: rgb(255, 255, 255);
}
#soan_tin_moi form #submit_dang_bai:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color: rgb(255, 28, 28);
}