* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Slab', Arial;
}
#displayResponses {
    width: 100%;
    height: 0%;
    position: absolute;
    background-color: rgba(170, 170, 170, 0.637);
    z-index: 999;
    overflow: hidden;
    transition: 1s;
}
#tools {
    width: 95%;
    height: 50px;
    margin: 0px auto;
    border-bottom: 1px solid silver;
    position: relative;
}
#tools > a:first-child {
    position: absolute;
    top: 2px;
    left: 0px;
}
#tools > a:first-child img {
    width: 50px;
    height: 44px;
}
#tools #search {
    outline: 0;
    width: 300px;
    height: 60%;
    margin-top: 8px;
    margin-left: 10px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 60px;
}
#tools > p {
    display: inline;
    margin-left: 50px;

}
#tools select {
    outline: 0;
    margin-left: 5px;
    width: 150px;
    height: 60%;
    border-radius: 5px;
    border: 1px solid rgb(151, 151, 151);
}
#tools #stopResponses {
    width: 80px;
    height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    outline: 0;
    box-shadow: 0px 0px 5px rgb(136, 136, 136);
}
#tools #deleteAll {
    float: right;
    margin-top: 10px;
    position: relative;
}
#tools #deleteAll > input {
    width: 100px;
    height: 30px;
    border: none;
    outline: 0;
    background-color: rgba(255, 51, 51, 0.705);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(161, 161, 161);
    cursor: pointer;
}
#tools #deleteAll > input:hover {
    background-color: rgba(24, 105, 255, 0.705);
    transition: 0.5s;
}
#tools #deleteAll > div {
    overflow: hidden;
    position: absolute;
    width: 300px; 
    height: 0px;
    left: -305%;
    top: -20%;
    background-color: rgba(54, 128, 238, 0.938);
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 10px rgb(44, 44, 44);
    transition: 0.5s;
}
#tools #deleteAll > div > p {
    text-align: center;
    display: block;
    margin-left: 0px;
    width: 90%;
    margin: 10px auto;
}
#tools #deleteAll > div > a {
    display: inline-block;
    margin-left: 12%;
}
#tools #deleteAll > div > a input {
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 47, 255, 0.74);
    border: 1px solid white;
    border-radius: 5px;
}
#tools #deleteAll > div > a input:hover {
    background-color: rgb(255, 96, 96);
    color: white;
    transition: 0.5s; 
}
#tools #deleteAll > div > input {
    margin-left: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    outline: 0;
}
#tools #deleteAll > div > input:hover {
    border: 1px solid white;
    border-radius: 5px;
}
#tools > a:last-child input {
    float: right;
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 47, 255, 0.74);
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 5px;
    outline: 0;
}
#tools > a:last-child input:hover {
    border: 1px solid rgba(0, 47, 255, 0.74);
    transition: 0.5s;
}
#listQuestion {
    width: 95%;
    margin: 10px auto;
    border-collapse: collapse;
    font-size: 14px;
}
#listQuestion .content {
    width: 60%;
    padding: 10px;
    text-align: justify;
}
#listQuestion thead tr td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid silver;
    background-color: rgba(24, 105, 255, 0.705);
    color: white;
}
#listQuestion tbody tr td:not(.content) {
    padding: 10px;
    text-align: center;
}
#listQuestion tbody tr:last-child {
    border-bottom: 1px solid rgb(153, 153, 153);
}
#listQuestion tbody tr:nth-child(even){
    background-color: rgba(221, 221, 221, 0.705);
}
#listQuestion a {
    display: block;
}
#listQuestion img {
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 414px) {
    #tools #search {
        margin-left: 50px;
        width: 80%;
    }
    #tools {
        border: none;
    }
    #tools p,input,select,span {
        float: left !important;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #tools select {
        width: 130px;
        margin-top: 5px;
    }
    #tools #stopResponses {
        float: right !important;
        margin-top: 20px;
    }
    #tools #deleteAll > input {
        margin-left: 10px;
    }
    #tools #deleteAll > div {
        left: 0%;
        top: 100%;
    }
    #tools #deleteAll > div > p {
        float: none !important;
    }
    #tools > a:last-child input {
        margin-top: 15px;
        margin-left: 10px;
    }
}