#div1{
    width:500px;
    height: 500px;
    margin-top:50px;
    margin-left: 400px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-color: rgb(231, 231, 231);
}
#div1h{
    width: 400px;
    margin-left: 50px;
    text-align: center;
    color: rgba(0, 183, 255, 0.678);
    font-family: Arial, Helvetica, sans-serif;
}
#div11{
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 50px;
    width: 400px;
    height: 380px;
    border-top: 3px solid rgba(0, 183, 255, 0.678);
}
#formd11 div{
    margin-top: 20px;
}
#formd11 input{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid rgb(132, 187, 238);
    height: 20px;
}
#div11f2 input{
    width: 200px;
    margin-left: 38px;
}
#div11f3 input{
    width: 200px;
    margin-left: 20px;
}

#div11f4 input{
    width: 200px;
    margin-left: 62px;
}
#listgioitinh input{
    width: 60px;
    margin-left: 73px;
    
}
#div11f5 input{
    width: 200px;
}
#div11f6 input{
    width: 200px;
    margin-left: 35px;
}
#div11f8 input{
    width: 200px;
    height: 30px;
    width: 100px;
    float: left;
    margin-left: 170px;
}