.noi_dung_bai{
    widows: auto;
    height: auto;
}
.noi_dung_bai p{
    font-size: 18px;
    line-height: 30px;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet {
    width: 100%;
    height: auto;
    margin-top: 50px;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet  a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet  a img {
    width: 30px;
    height: 30px;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet #binh_luan_moi {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
    padding-left: 10px;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet #binh_luan_cu {
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet #binh_luan_cu .binh_luan {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet #binh_luan_cu .binh_luan .ten_nguoi_binh_luan {
    background-color: rgb(236, 236, 236);
    display: inline;
    font-size: 20px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
}
#noi_dung_trang #bai_viet .cac_bai_viet #nhan_xet #binh_luan_cu .binh_luan .noi_dung_binh_luan {
    margin-top: 20px;
    max-width: 500px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(211, 211, 211);
    padding-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
}
