#muc_gioi_thieu_trang {
    margin-top: 50px;
    width: auto;
    height: 900px;
    background-color: rgb(255, 255, 255);
}
#muc_gioi_thieu_trang h1{
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
}
#muc_gioi_thieu_trang h4 {
    margin-top: 30px;
}
#muc_gioi_thieu_trang ul {
    margin-left: 50px;
}
#muc_gioi_thieu_trang li {
    width: 500px;
    margin-top: 10px;
}