body p{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: rgb(103, 186, 241);
    margin-top: 0px;
}
#thanh_cong_cu ul {
    width: auto;
    height: 50px;
    margin-top: 30px;
    background-color: #69b1fb;
}
#thanh_cong_cu ul li{
    float: left;
    width: 200px;
    height: 50px;
    background-color: #69b1fb;
    margin-left: 10px;
    list-style: none;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    border-right: 2px solid white;
}
#thanh_cong_cu ul li a{
    display: block;
    color: white;
}
#thanh_cong_cu ul li a:hover{
    background-color: white;
    color: #69b1fb;
    transition: 0.5s;
}
#them_san_pham {
    float: left;
    width: 500px;
    height: auto;
    background-color: rgb(230, 230, 230);
}
#danh_sach_san_pham{
    float: left;
    width: auto;
    height: auto;
    margin-left: 20px;
    background-color: rgb(230, 230, 230);
}
a:link{
    text-decoration: none;
}