body {
    background-color: #ffffff;
    font-family: Arial, 'Times New Roman';
}
/*Khu vực logo*/
#logo a img {
    width: 100px;
    height: 100px;
    float: left;
}
#logo div {
    width: 300px;
    height: 50px;
    float: right;
}
#logo div a img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
#logo div a img:hover{
    width: 55px;
    height: 55px;
    transition: 0.3s;    
}
/*Khu vực thanh công cụ*/
#thanh_cong_cu {
    clear: both;
    height: 50px;
    width: auto;
    background-color:  #69b1fb;
}
#thanh_cong_cu ul{
    margin-left: 250px;
}
#thanh_cong_cu ul li{
    float: left;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    list-style: none;
    text-align: center;
    background-color:  #69b1fb;
}
#thanh_cong_cu ul li:hover{
    background-color: white;
    transition: 0.5s;    
}
#thanh_cong_cu ul li a{
    color: white;
    font-size: 30px;
    line-height: 45px;
    font-family: Arial, 'Times New Roman';
    display: block;
}
#thanh_cong_cu ul li a:hover{
    color: #69b1fb;
    transition: 0.5s;   
}
#thanh_cong_cu div{
    float: right;
    width:150px;
    height: 50px;
    background-color:  #69b1fb;
}
#tieu_de {
    background-color: #69b1fb;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
#thanh_toan {
    width:900px;
    height: 350px;
}
#hinh_anh {
    float: left;
    width: 350px;
    height: 300px;
}
#form_thanh_toan{
    float: left;
    width: auto;
    height: auto;
    margin-left: 50px;
    background-color: #f3f3f3;
}
a:link{
    text-decoration: none;
}